/* General Styling */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}
*::selection {
  background-color: rgb(7, 238, 88);
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: black;
}

/* Specific Styling */

.header {
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-image: linear-gradient(
    235deg,
    rgb(228, 210, 152),
    rgb(15, 152, 206)
  );
  position: relative;
}

.heading-group {
  font-size: 3rem;
}

.main-heading {
  font-size: 1em;
}

.laptop {
  font-size: 0.3em;
}

.laptop::after {
  content: "💻";
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: rgb(33, 161, 17);
  color: black;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: rgb(61, 144, 23);
}

.nav-link:active {
  color: rgb(83, 253, 4);
  background-color: grey;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem dotted black;
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.main-article {
  border-top: 0.125rem solid rgb(33, 161, 17);
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }

  .main-article-content {
    margin-top: 4rem;
  }
}

.article-heading {
  position: relative;
  left: -1rem;
}
.experience-heading {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer {
  margin-top: 3rem;
  background-color: rgb(15, 152, 206);
  padding: 2rem;
}

.footer-text {
  text-align: center;
  margin: 0;
}

.footer-link {
  color: black;
}
